---
import BaseHead from "../components/BaseHead.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleList from "../components/ArticleList.astro";
import { getCollection } from "astro:content";
const blogEntries = await getCollection("blog");

const title = "Blog";
const description = "A collection of blog posts about accessibility";
---

<BaseLayout>
  <BaseHead title={title} description={description} slot="head" />
  <Fragment slot="content">
    <h1 class="h4 mx-auto">Blog</h1>
    <ArticleList contentItems={blogEntries} as="2" size="h5 mb-0" />
  </Fragment>
</BaseLayout>
