---
import ArticleListItem from "./ArticleListItem.astro";
import type { CollectionEntry } from "astro:content";
interface Props {
  contentItems: CollectionEntry<"blog">[]>;
  as: string;
  size: string;
}
const { contentItems, as, size } = Astro.props;
---

<ul class="timeline mx-auto list-none">
  {
    contentItems.map((contentItem) => (
      <li>
        <ArticleListItem contentItem={contentItem} as={as} size={size} />
      </li>
    ))
  }
</ul>

<style>
  .timeline {
    padding: 0;
  }

  @media only screen and (min-width: 768px) {
    .timeline {
      width: 55ch;
    }
  }
</style>
