---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <HeaderLink href="/" class="logo" aria-label="Homepage"
    >BeingFrankly</HeaderLink
  >
  <nav>
    <HeaderLink href="/blog">Blog</HeaderLink>
  </nav>
</header>
