---
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  content: {
    title: string;
    excerpt: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, excerpt, pubDate, updatedDate, heroImage },
} = Astro.props as Props;
---

<BaseLayout>
  <Fragment slot="content">
  <article>
    <h1 class="title">{title}</h1>
    {pubDate && <time>{pubDate}</time>}
    {
      updatedDate && (
        <div>
          Last updated on <time>{updatedDate}</time>
        </div>
      )
    }
    <slot name="article" />
  </article>
  </Fragment>
</BaseLayout>
